appdirs==1.4.3
click==6.7
docker==2.2.1
docker-pycreds==0.2.1
Flask==0.12.1
Flask-Slack==0.1.5
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
packaging==16.8
pyparsing==2.2.0
python-slugify==1.2.4
requests==2.14.2
six==1.10.0
sparkpost==1.3.5
Unidecode==0.4.20
websocket-client==0.40.0
Werkzeug==0.12.1
